.changeDisplay{
    max-width: 1200px;
    margin: 100px auto 0px auto;
    display: flex;
    justify-content: end;
}

.btn-options{
    padding: 10px 30px;
    width: fit-content;
    transition: all 500ms ease;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    background-color: rgb(197, 222, 213);
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 20px;

   /*  &:focus{
        background-color: rgb(13, 165, 29);
    } */
    &:hover{
        background-color: rgb(13, 165, 29);
        cursor: pointer;
    }

}

.active-btn{
    background-color: rgb(13, 165, 29);
}