.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	max-width: 560px;
	width: 100%;
	padding: 40px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 4px;

	.modal-close {
		position: absolute;
		right: 16px;
		top: 16px;
		display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
		align-items: center; justify-content: center;
		text-decoration: none !important;
		outline: none;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
	}

	.modal-header {
		margin-bottom: 24px;
		font-size: 36px;
	}

	h4 {
		margin: 0;
	}

	
	.modal-footer {
		margin-top: 24px;
	}

	.button-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.btn {
	position: relative;
	display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
	align-items: center; justify-content: center;
	text-decoration: none !important;
	outline: none;
	-webkit-appearance: none;
	border: none;
	cursor: pointer;
	user-select: none;
	background-color: #6b78d6;
	font-family: Roboto,sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	padding: 8px 32px;
}

