.header {
    background: url(./icons/sustainable_perfecti.jpg) center/cover no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 5;

    &__name {

        max-width: 1200px;
        margin: auto;
        padding-top: 200px;
        padding-bottom: 200px;
        font-family: Roboto, sans-serif;
        font-weight: 400;
        font-size: 200px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;


    }

    &__nav {
        height: 100px;
        align-items: center;
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        margin-bottom: 200px;
        position: fixed;
        width: 100%;

        &--item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            max-width: 1200px;
            height: 100px;
            margin: auto;

            &--icon {
                display: flex;

                &--basket {
                    margin-right: 50px;
                    position: relative;
                }
                &--favorites{
                    position: relative;
                }
            }
        }
    }
}

.count-basket {
    position: absolute;
    top: -5px;
    right: -7px;
    font-size: 10px;
    color: #fff;
    font-size: 15px;
}

.count-favorites{
    position: absolute;
    top: -5px;
    right: -7px;
    font-size: 10px;
    color: #fff;
    font-size: 15px;
}