.modal{
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	z-index: 10;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: 0.5s;
}

.modal.active{
	opacity: 1;
	pointer-events: all;
}



.modal__content{
	padding: 20px;
	border-radius: 12px;
	background-color: white;
	height: 400px;
	width: 400px;
	transform: scale(0.5);
	transition: 0.4s all;
}

.modal__content.active{
	transform: scale(1);
}




	.modal-close {
		position: absolute;
		right: 16px;
		top: 16px;
		display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
		align-items: center; justify-content: center;
		text-decoration: none !important;
		outline: none;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
		fill: black;
	}

	.modal-header {
		margin-bottom: 50px;
		font-size: 36px;
		color: black;
		text-align: center;
	}

	.modal-text{
		font-size: 36px;
		color: black;
		text-align: center;
	}


	.button-wrapper {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}


.btn {
	border: 3px solid #3a7999;
	background: rgb(2, 42, 17);
	color: #f2f2f2;
	padding: 10px 20px;
	font-size: 18px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
	cursor: pointer;
	&:hover {
		border: 3px solid #3a7999;
		color: #3a7999;
		background: rgba(0,0,0,0);
	
}
}

 