.coffee-machines__items{
    width: 30%;
    margin-bottom: 100px;

    /*  overflow: hidden;  */
    
    &--button{
        border: 3px solid #3a7999;
        background: #462703;
        color: #f2f2f2;
        padding: 10px;
        font-size: 18px;
        border-radius: 5px;
        position: relative;
        box-sizing: border-box;
        transition: all 500ms ease;
        cursor: pointer;
        &:hover {
            border: 3px solid #3a7999;
            color: #3a7999;
            background: rgba(0,0,0,0);
        }

    }
     & .biger-size{
        transition: transform 500ms;
        display: block;
        
       & img{
            display: flex;
         }
  
    }
   
    & .biger-size:hover{
        transform: scale(1.1);
    } 

    &--header{
        font-size: 30px;
        text-align: center;
    }
    &--article{
        font-size: 20px;
        text-align: center;
    }
    &--color{
        font-size: 20px;
        text-align: center;
    } 
    &--price{
        font-size: 25px;
        color: green;
        text-align: center;
    } 
   
}

.star{
    fill: #d8d8d8;
    cursor: pointer;

  
    &:hover{
        fill: orange;
    }
}

.star2{
    fill: orange;
    cursor: pointer;
  
}



