.footer{
    background: url(./photo/k_chemu_snitsya_kofe.jpg) center/cover no-repeat;
    background-attachment: fixed; 
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.aaa{
padding-bottom: 500px;
}
